body {
    background: url(img/ajax-loader.gif) center no-repeat;
}

.dropListener {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: white url(img/drop-outline.png) center no-repeat;
    background-size: contain;
}
.dropListener.highlighted {
    background: white url(img/drop-filled.png) center no-repeat;
    background-size: contain;
}