body {
    margin: 0px;
    overflow: hidden;
    background: white url(img/hangon.png) center no-repeat;
    background-size: contain;
    font-family: helvetica, arial, sans-serif;
}

.dropListener {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: white url(img/drop-outline.png) center no-repeat;
    background-size: contain;
}
.dropListener.highlighted {
    background: white url(img/drop-filled.png) center no-repeat;
    background-size: contain;
}

.controls {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
}
.hidden {
    display: none;
}
.controls:hover {
    background-color: rgba(255,255,255, 0.8);
}
.controls .contents {
    width: 600px;
    margin: auto;
    text-align: center;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-top: -210px;
    margin-left: -300px;
    display: none;
}
.controls:hover .contents {
    display: block;
}


.title {
    font-size: 33px;
    color: #000000;
    font-weight: bold;
    padding: 30px;
}

.sizeChoiceBlock {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    margin: 20px;
}
.sizeChoiceBlock .detail {
    line-height: 25px;
    display: block;
    font-family: helvetica, arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
a.sizeButton {
    width: 100px;
    height: 100px;
    line-height: 100px;
    color: white;
    background-color: #000000;
    display: inline-block;
    font-size: 100px;
    text-decoration: none;
    font-family: helvetica, arial, sans-serif;
    text-align: center;
}


.coursenessChoiceBlock {
    width: 40px;
    display: inline-block;
    font-size: 10px;
    text-align: center;
    margin: 2px;
}
.coursenessChoiceBlock .detail {
    line-height: 25px;
    display: block;
    font-family: helvetica, arial, sans-serif;
    overflow: visible;
    width: 100px;
    margin-left: -30px;
    font-weight: bold;
}
a.courseButton {
    width: 40px;
    height: 40px;
    background-color: #000000;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.coursenessChoiceBlock.selected {
    width: 60px;
}
.coursenessChoiceBlock.selected a.courseButton {
    width: 60px;
    height: 60px;
    font-size: 40px;
    line-height: 60px;
}
